.AuthenSU-outer-frame {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: var(--Theme6, #47624f);
}

.AuthenSU-whiteframe {
    width: 1033px;
    height: 668px;
    overflow: visible;
    background: var(--Theme1, #ffffff);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;
    top: 206px;
    left: 444px;
  }

.AuthenSU-k-u-people {
    width: 448px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--Theme4, #447604);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 47px;
    left: 292px;
  }

.AuthenSU-in_progess {
    width: 553px;
    height: 126px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 42px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 466px;
    left: 239px;
  }