.AuthenSU-outer-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--à¸ºB5, #d6ce15);
    margin: 0;
    position: absolute;
}

.AuthenSU-whiteframe {
    width: 1033px;
    height: 668px;
    overflow: visible;
    background: var(--B1, #1f2605);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: scale(0.8, 0.8);
  }

.AuthenSU-k-u-people {
    width: 448px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--B5, #d6ce15);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 47px;
    left: 292px;
  }

.AuthenSU-in_progess {
    width: 553px;
    height: 126px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 42px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 466px;
    left: 239px;
  }
  .rotate {
    animation: rotation 2s infinite linear;
    position: absolute;
    top: 185px;
    left: 400px;
  }
  @keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}