.AtLogout_bigframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--Theme6, #47624f);
    margin: 0;
    position: absolute;
  }

.AtLogout_whiteframe {
    width: 1033px;
    height: 668px;
    overflow: visible;
    background: var(--Theme1, #ffffff);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;    
    top: 2.5%;    
    margin: 2%;
    transform: scale(0.7, 0.7);
  }

.AtLogout_k-u-people {
    width: 448px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--Theme4, #447604);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 89px;
    left: 292px;
  }

.AtLogout_success {
    width: 747px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 505px;
    left: 142px;
  }  

.AtLogout_successrotate {
    animation: rotation 2s infinite linear;
    position: absolute;
    top: 185px;
    left: 400px;
  }

#AtLogout_spin {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: 32%;
    left: 36%;
  }