.createcm-bigframe {
    width: 1920px;
    height: 1274px;
    overflow: hidden;
    background: var(--Theme6, #47624f);
  }

.createcm_goback_button {
    background: var(--Theme5, #6cc551); /* Green */
    border-radius: 19px;
    color: white;
    width: 206px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    position: absolute;    
    top: 36px;
    left: 27px;
    border-width: 0px;
  }

.createcm_goback {
    width: 186px;
    height: 90px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 3;    
  }

.createcm-whiteframe {
    width: 1347px;
    height: 986px;
    overflow: visible;
    background: var(--Theme1, #ffffff);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;    
    top: 36px;
    left: 287px;
  }

.createcm-give-comment {
    width: 639px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;    
    top: 17px;
    left: 345px;
  }

.createcm-topicname-frame {
    width: 1234px;
    height: 101px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;    
    top: 145px;
    left: 53px;
  }

.createcm-in-topic_ {
    width: 243px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: -20px;
    left: 49px;
  }

.createcm-topic-name {
    width: 380px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--ThemeSup1, #9beb33);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: -20px;
    left: 323px;
  }

.createcm-repltyo-frame {
    width: 582px;
    height: 101px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;    
    top: 285px;
    left: 53px;
  }

.createcm-replyto {
    width: 250px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color:  #ffffff;
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -21px;
    left: 49px;
  }

.createcm_replyto_input {
    background-color: rgb(221, 221, 227);
    font-size: 23;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 250px;
}

.createcm-leave-empty {
    width: 533px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--ThemeSup1,#0f0508);
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 390px;
    left: 85px;
  }

.createcm-cm-frame {
    width: 1230px;
    height: 465px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;    
    top: 460px;
    left: 57px;
  }

.createcm-placecm {
    width: 547px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 15px;
    left: 93px;
  }

.createcm-green-frame {
    width: 488px;
    height: 150px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;    
    top: 14px;
    left: 696px;
  }

.createcm-bold-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 17px;
    left: 24px;
    border-width: 0px;
  }

.createcm-Italic-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 17px;
    left: 88px;
    border-width: 0px;
  }

.createcm-fonts-frame {    
    width: 117px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 16px;
    position: absolute;    
    top: 17px;
    left: 152px;
    border-width: 0px;    
  }

.createcm-fonts {
    width: 108px;
    height: 105px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #7e7c7c;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1;
  }

.createcm-size-frame {
    width: 180px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;  
    top: 17px;
    left: 280px;    
  }

.createcm-size {
    width: 85px;
    height: 213px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #7e7c7c;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;  
    top: -28px;
    left: 10px;
  }

.createcm_size_input {
    background-color: rgb(221, 221, 227);
    font-size: 20;
    color: "#333333";
    border: rgba(0,0,0,0.29);
    border-width: 3;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 28px;
    left: 78px;
}

.createcm-Clipboard-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 24px;
    border-width: 0px;
  }

.createcm-Upload-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 88px;
    border-width: 0px;
  }

.createcm-Link-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 152px;
    border-width: 0px;
  }

.createcm-Image-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 216px;
    border-width: 0px;
  }

.createcm-Barchart-frame {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 280px;
    border-width: 0px;
  }

.createcm-send-frame {
    width: 116px;
    height: 53px;
    overflow: visible;
    background: var(--ThemeSup1, #9beb33);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;    
    top: 81px;
    left: 344px;
  }

.createcm-send {
    width: 101px;
    height: 108px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #7e7c7c;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 3;
    line-height: 1;
  }

.createcm_cm_input {
    background-color: rgb(221, 221, 227);
    font-size: 20;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 178px;
    left: 45px;
} 