.backgroundCreateThread {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: var(--Theme6, #47624f);
  }

.whiteFrameCreateThread {
    width: 1348px;
    height: 1011px;
    overflow: visible;
    background: var(--Theme1, #ffffff);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;
    top: 30px;
    left: 290px;
  }

.createNewThreadTextCreateThread {
    width: 842px;
    height: 128px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 50px;
    left: 250px
  }

.topicBlackFrameCreateThread {
    width: 1235px;
    height: 101px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;
    top: 200px;
    left: 50px
  }

.topicTextCreateThread {
    width: 182px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -20px;
    left: 50px
  }

  .inputTopicNameCreateThread {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    position: absolute;
    top: 20px;
    left: 230px;
}

.tagsBlackFrameCreateThread {
    width: 1233px;
    height: 174px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;
    top: 320px;
    left: 50px;
  }

  .tagsTextCreateThread {
    width: 181px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 20px;
    left: 50px;
  }

  .needHelpFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 20px;
    left: 230px;
  }

.needHelpClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.needHelpTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 60px;
  }

  .foodFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 20px;
    left: 480px;
  }

.foodClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.foodTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

  .newsFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 20px;
    left: 730px;
  }

.newsClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.newsTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

  .facultyFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 20px;
    left: 980px;
  }

.facultyClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.facultyTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

  .questionFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 95px;
    left: 230px;
  }

.questionClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.questionTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 60px;
  }

  .sharingFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 95px;
    left: 480px;
  }

.sharingClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.sharingTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

  .complainFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 95px;
    left: 730px;
  }

.complainClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.complainTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

  .nonsenseFrameCreateThread {
    width: 235px;
    height: 66px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 19px;
    position: absolute;
    top: 95px;
    left: 980px;
  }

.nonsenseClickBoxCreateThread{
    /*activeBackground*/
    border-width: 1;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nonsenseTextCreateThread {
    width: 500px;
    height: 69px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 23px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -3px;
    left: 80px;
  }

.placeYourContentFrameCreateThread {
    width: 1231px;
    height: 465px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;
    top: 510px;
    left: 50px;
  }

.placeYourContentTextCreateThread {
    width: 510px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 20px;
    left: 100px;
  }

.toolsPlaceYourContentCreateThread {
    width: 488px;
    height: 150px;
    overflow: visible;
    background: var(--Theme4, #447604);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 33px;
    position: absolute;
    top: 20px;
    left: 700px;
  }

.frameBoldLettersToolsPlaceYourContentCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 25px;
  }

.frameItalicLettersToolsPlaceYourContentCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 90px;
  }

  .frameFontsToolsPlaceYourContentCreateThread {
    width: 117px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 16px;
    position: absolute;
    top: 15px;
    left: 160px;
  }

  .textFontsToolsPlaceYourContentCreateThread {
    width: 108px;
    height: 105px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #7e7c7c;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -25px;
    left: 5px;
  }

  .frameSizeToolsPlaceYourContentCreateThread {
    width: 180px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 290px;
  }

.textSizeToolsPlaceYourContentCreateThread {
    width: 85px;
    height: 213px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #7e7c7c;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: -25px;
    left: 10px;
  }

  .inputSizeCreateThread {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    position: absolute;
    top: 5px;
    left: 100px;
}

.frameClipboardCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 25px;
  }

  .frameUploadCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 90px;
  }

  .frameLinkCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 160px;
  }

  .frameImageCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 225px;
  }

  .frameBarCreateThread {
    width: 53px;
    height: 53px;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 290px;
  }

  .frameSendCreateThread {
    width: 116px;
    height: 53px;
    overflow: visible;
    background: var(--ThemeSup1, #9beb33);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 15px;
    position: absolute;
    top: 75px;
    left: 355px;
  }

.inputContentCreateThread {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 12;
    /*password:false*/
    border-radius: 10;
    position: absolute;
    top: 170px;
    left: -650px;
}

.frameGoBackCreateThread {
  width: 207px;
  height: 90px;
  overflow: visible;
  background: var(--Theme5, #6cc551);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
  border-radius: 19px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.textGoBackCreateThread {
  width: 186px;
  height: 90px;
  overflow: visible;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 3;
  position: absolute;
  top: 5px;
  left: 10px;
}