.forgetpwd-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background: var(--ฺB5, #d6ce15);*/
    margin: 0;
    position: absolute;
  }

.forgetpwd-whiteframe {
    width: 1024px;
    height: 810px;
    overflow: visible;
    background: var(--B1, #1f2605);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;
    top: 5%;
    left: 23%;
    transform: scale(0.8, 0.8);
  }

.forgetpwd-k-u-people {
    width: 448px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--B5, #d6ce15);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 19px;
    left: 288px;
  }

.password-reset {
    width: 343px;
    height: 109px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 0.7;
    position: absolute;
    top: 162px;
    left: 340px;
  }

.forgetpwd-email_ {
    width: 200px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 201px;
    left: 58px;
  }

.forgetpwd_email_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 190px;
}


.send_button {
    background: var(--B2, #1f6521) ! important; /* Green */
    border-radius: 25px ! important;
    color: white ! important;
    width: 156px ! important;
    height: 64px ! important;
    text-align: center ! important;
    text-decoration: none ! important;
    display: inline-block ! important;
    font-size: 30px ! important;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25) ! important;
    position: absolute ! important;    
    top: 238px ! important;
    left: 780px ! important;
    border-width: 0px ! important;
  }

.send {
    width: 107px;
    height: 105px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1;
    
  }

.verification {
    width: 826px;
    height: 57px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 302px;
    left: 210px;
  }

.new-password_ {
    width: 393px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 331px;
    left: 58px;
  }

.newpassword_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 390px;
}

.confirm-password_ {
    width: 479px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 443px;
    left: 58px;
  }

.confirmpassword_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 460px;
}

.verification-code_ {
    width: 458px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 557px;
    left: 58px;
  }

.verification-code_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 440px;
}

.fgpwd_goback_button {
    line-height: 2.2 ! important;
    background: var(--B2, #1f6521) ! important; /* Green */
    border-radius: 19px ! important;
    color: white ! important;
    width: 215px ! important;
    height: 82px ! important;
    text-align: center ! important;
    text-decoration: none ! important;
    display: inline-block ! important;
    font-size: 30px ! important;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25) ! important;
    position: absolute ! important;    
    top: 695px ! important;
    left: 58px ! important;
    border-width: 0px ! important;
  }

.fgpwd_go-back {
    line-height: 1 ! important;
    width: 186px ;
    height: 90px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 30px;
    letter-spacing: 3px;
  }

  
.fgpwd_confirm_button {
    background: var(--B2, #1f6521) ! important; /* Green */
    border-radius: 25px ! important;
    color: white ! important;
    width: 193px ! important;
    height: 79px ! important;
    text-align: center ! important;
    text-decoration: none ! important;
    display: inline-block ! important;
    font-size: 30px ! important;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25) ! important;
    position: absolute ! important;    
    top: 695px;
    left: 750px;
    border-width: 0px ! important;
  }
  

.fgpwd_confirm {
    
        width: 125px;
        height: 40px;
        overflow: visible;
        font-family: "Inter", sans-serif;
        color: #ffffff;
        font-size: 33px;
        letter-spacing: 0px;
        line-height: 1.2;
      
  }

  input::placeholder {
    font-size: 30px;    
  }