.forgetpwd-frame {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: var(--Theme6, #47624f);
  }

.forgetpwd-whiteframe {
    width: 1024px;
    height: 810px;
    overflow: visible;
    background: var(--Theme1, #ffffff);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25), inset -10px -10px 5px 0px rgba(0,0,0,0.25);
    border-radius: 66px;
    position: absolute;
    top: 135px;
    left: 448px;
  }

.forgetpwd-k-u-people {
    width: 448px;
    height: 129px;
    overflow: visible;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    color: var(--Theme4, #447604);
    font-size: 91px;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    top: 19px;
    left: 288px;
  }

.password-reset {
    width: 343px;
    height: 109px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 0.7;
    position: absolute;
    top: 162px;
    left: 340px;
  }

.forgetpwd-email_ {
    width: 200px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 201px;
    left: 58px;
  }

.forgetpwd_email_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 190px;
}

.send_button {
    background: var(--Theme5, #6cc551); /* Green */
    border-radius: 25px;
    color: white;
    width: 156px;
    height: 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    position: absolute;    
    top: 238px;
    left: 780px;
    border-width: 0px;
  }

.send {
    width: 107px;
    height: 105px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 1;
    
  }

.verification {
    width: 726px;
    height: 57px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 19px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 302px;
    left: 248px;
  }

.new-password_ {
    width: 393px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 331px;
    left: 58px;
  }

.newpassword_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 390px;
}

.confirm-password_ {
    width: 479px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 443px;
    left: 58px;
  }

.confirmpassword_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 460px;
}

.verification-code_ {
    width: 458px;
    height: 138px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme3, #0f0508);
    font-size: 46px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;    
    top: 557px;
    left: 58px;
  }

.verification-code_input {
    background-color: rgb(221, 221, 227);
    font-size: 22;
    color: "#333333";
    border: rgba(0,0,0,0);
    border-width: 1;
    /*focusColor=#09F*/
    /*focused:false*/
    font: false;
    font-family: "";
    /*keyboard:""*/
    /*multiLine:false*/
    padding: 20;
    /*password:false*/
    border-radius: 10;
    width: 411px;
    position: absolute;    
    top: 50px;
    left: 440px;
}

.fgpwd_goback_button {
    background: var(--Theme5, #6cc551); /* Green */
    border-radius: 19px;
    color: white;
    width: 215px;
    height: 82px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    position: absolute;    
    top: 695px;
    left: 58px;
    border-width: 0px;
  }

.fgpwd_go-back {
    width: 186px;
    height: 90px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 3;
  }

.fgpwd_confirm_button {
    background: var(--Theme5, #6cc551); /* Green */
    border-radius: 25px;
    color: white;
    width: 193px;
    height: 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    position: absolute;    
    top: 695px;
    left: 750px;
    border-width: 0px;
  }

.fgpwd_confirm {
    
        width: 125px;
        height: 40px;
        overflow: visible;
        font-family: "Inter", sans-serif;
        color: #ffffff;
        font-size: 33px;
        letter-spacing: 0px;
        line-height: 1.2;
      
  }

  input::placeholder {
    font-size: 30px;    
  }