.backgroundHomePage {
    width: 1920px;
    height: 3251px;
    overflow: hidden;
    background: var(--Theme6, #47624f);
  }

.topBlackFrameHomePage {
    width: 1920px;
    height: 150px;
    overflow: visible;
    background: var(--Theme3, #0f0508);
    box-shadow: inset -5px -5px 5px 0px rgba(0, 0, 0, 0.25), 5px 5px 5px 0px rgba(0,0,0,0.25);
    position: absolute;
    top: 100;
    left: 100;
  }

.topKUPeopleHomePage {
    width: 510px;
    height: 107px;
    overflow: visible;
    background-image: url(/* kuppl2.png */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 794px;
  }

.searchSymbolHomePage {
    width: 112px;
    height: 117px;
    overflow: visible;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    background-image: url(/* createSearchSymbol.png */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 56px;
    position: absolute;
    top: 0px;
    left: 794px;
  }

.createBlogSymbolHomePage {
    width: 115px;
    height: 127px;
    overflow: visible;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25), inset -5px -5px 5px 0px rgba(0,0,0,0.25);
    background-image: url(/* createBlogSymbol.png */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 58px;
    position: absolute;
    top: 0px;
    left: 794px;
  }

.profilePicHomePage {
    width: 130px;
    height: 130px;
    overflow: visible;
    background-image: url(/* profile1.png */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 794px;
  }

.rankHomePage {
    width: 168px;
    height: 102px;
    overflow: visible;
    font-family: "Inter", sans-serif;
    color: var(--Theme1, #ffffff);
    font-size: 34px;
    letter-spacing: 3px;
    line-height: 3;
    position: absolute;
    top: 0px;
    left: 1700px;
  }
