

.logoCSS{

}
.searchCSS{

    
}
.navbar-nav{
    padding-left:30px;
    padding-right:30px;
    
}

.navbar-color{
    background-color: #000000;
}

.frame-notification {
    position: relative;
    left: -10px;
  }

#mycustomize{
   z-index: 10 !important; 
}